body{
    margin: 0;
    padding: 0;
    background-color: #84a9ac;
    font-family: sans-serif;
}
.main-div{
    background-color: white;
    width: 90%;
    margin: auto;
}
#navbar{
    padding: 15px;
    
    color: black;
    background-color: #3b6978;
}
.leaf{
    color: white;
    font-family: 'Montez', cursive;
}
.search{
   
    margin-left: 500px;
    width: 350px;
    height: 30px;
    border-radius: 40px;
    background-color: white;
    padding: 2px;
    border: none;
   
}
.ser{
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
    color: white;
}
.book
{
    font-size: 20px;
    float: right;
    color: white;
}
#menu{
    width: 22%;
   
    height:1435px;
    background-color: #204051;
    color: white;
   display: block;
    float: left;
}
.m{
    
    color: white;
    padding: 20px;
    text-decoration: none;
}

.me{
    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 30px;
    transition: .5s;
    width:200px;    
    transition: .5s;
    text-align: center;
}
.link-div:hover{
    background-color: gainsboro;
    color:black;
    text-decoration: none;
    font-size: 17px;
  font-weight: bold;
}

#imgbar{
   
    margin-left: 275px;
    display: flex;
    flex-wrap: wrap;
}
.img1{
    height: 200px;
    width: 310px;
}

#rating{
    padding: 20px;
}
.h{
    padding: 10px;
    margin-left: 30px;
}
.star{
    color:#84a9ac;
    animation:star 5s infinite;
}
@keyframes star{
   50%(color: #3b6978;)
}

hr{
    width: 3%;
    border: 6px dotted lightgray;
    border-bottom: none;
}
#content{
   box-shadow:0 0 5px gray;
    width: 70%;
    margin-left:300px;
}
p{
    line-height: 2;
    padding: 10px;
    
}
.c2{
    padding: 40px;
}
.p1{
    line-height: 4;
}
.feature{
    margin: auto;
    text-align: center;
}
.icon{
    text-align: center;
    margin: auto;
    color:#84a9ac;
}
.icon:hover{
   color: #3b6978;
}
#header{
    display: flex;
    flex-wrap: wrap;
    background-color: #3b6978;
    color: white;
    margin:60px 0px;
}
.inner-header{
    padding: 30px;
    text-align: center;
    margin: auto;
}
/*------------*/
.box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.frstbox{
    position: relative;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
   background-color: white;
    color: black;
    border-radius: 5px;
    margin:20px;
    width:240px;
    height: auto;
    transition: 2s;
    
    box-shadow: 0 0 5px gray;
}
.frstbox:hover{
    color: white;
    background-color:#84a9ac;
    box-shadow: 0px 0px 10px grey; 
}

.heading{
    font-size:25px;
    line-height: 4;
}
.imagee{
    /*padding: 40px;
    margin: auto;
    background-size: cover;
    background-position: center center;*/
    height: 100px;
    width:100px;
    
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
}
.text1 p{
    font-size: 15px;
    font-weight: 400;
}
.btn{
   background-color: gainsboro;
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn:hover{
    color: white;
    background-color: #204051;
}
/*----------*/

#footer{
    background-color:#3b6978;
    color: #fff;
    text-align: center;
    
}
/*-------------------------*/
@media screen and (max-width:959px){
    #navbar,#imgbar,#footer,#rating{
        width: 100%;
       
    }
    #content{
        width: 90%;
    }
    #menu{
        width: 100%;
        height: 50%;
    }
    #imgbar,#content{
      margin: auto;
    }
    .h{
text-align: center;}
    .img1{
        width: 100%;
        height: 50%;
    }
    .inner-header{
        width: 100%;
    }
    .search{
        width:40%;
        margin-left: 10%;
        margin: 0.5%;
        position: absolute;
    }
    .ser{
        margin-top: 1.5%;
       margin-left: 43%;
    }
    .leaf{
        font-size: 20px;
        margin-right: 20%;
    }
    
    .book{
        visibility: hidden;
    }
}